// fonts
$font-title: "Bebas Neue", cursive;

// colors
$color-backgroun-primary: #4b0082;
$color-backgroun-secundary: #f0e682;
$color-font-primary: #f0e682;
$color-font-secundary: #4b0082;
$color-button: #e17334;
