.header {
  height: 20vh;
  padding: 20px;
  background-color: $color-backgroun-primary;
  font-family: $font-title;
  color: $color-font-primary;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text-search {
    height: 25px;
    margin-top: 8px;
    background-color: $color-font-primary;
    border: 3px solid $color-button;
    border-radius: 5px;
  }

  .btn-Search {
    font-family: $font-title;
    color: $color-font-primary;
    background-color: $color-button;
    border-style: none;
    border-radius: 5px;
    padding: 3px;
  }
}
